[submodule "odoo-dominicana/l10n-dominicana"]
	path = odoo-dominicana/l10n-dominicana
	url = git@github.com:odoo-dominicana/l10n-dominicana.git
	branch = 13.0
[submodule "TDS_or_Withholding_Tax_Advanced_CV"]
	path = TDS_or_Withholding_Tax_Advanced_CV
	url = git@github.com:xmarts/TDS_or_Withholding_Tax_Advanced_CV.git

[submodule "dynamic_cheque"]
	path = dynamic_cheque
	url = git@github.com:xmarts/dynamic_cheque.git
	branch = main
[submodule "purchase_discount13"]
	path = purchase_discount13
	url = git@github.com:xmarts/purchase_discount13.git
	branch = main
[submodule "xmarts_dgii_reports"]
	path = xmarts_dgii_reports
	url = git@github.com:xmarts/xmarts_dgii_reports.git
