[submodule "odoo-dominicana/l10n-dominicana"]
	path = odoo-dominicana/l10n-dominicana
	url = git@github.com:odoo-dominicana/l10n-dominicana.git
	branch = 13.0
[submodule "TDS_or_Withholding_Tax_Advanced_CV"]
	path = TDS_or_Withholding_Tax_Advanced_CV
	url = git@github.com:xmarts/TDS_or_Withholding_Tax_Advanced_CV.git

[submodule "dynamic_cheque"]
	path = dynamic_cheque
	url = git@github.com:xmarts/dynamic_cheque.git
	branch = main
[submodule "purchase_discount13"]
	path = purchase_discount13
	url = git@github.com:xmarts/purchase_discount13.git
	branch = main
[submodule "xmarts_dgii_reports"]
	path = xmarts_dgii_reports
	url = git@github.com:xmarts/xmarts_dgii_reports.git

[submodule "quick-purchase-order"]
	path = quick-purchase-order
	url = git@github.com:xmarts/quick-purchase-order.git
	branch = 13.0
[submodule "withholding-multi-payments"]
	path = withholding-multi-payments
	url = git@github.com:xmarts/withholding-multi-payments.git
	branch = 13.0

[submodule "l10n_do_hr_payroll"]
	path = l10n_do_hr_payroll
	url = git@github.com:xmarts/l10n_do_hr_payroll.git
	branch = 13.0

[submodule "l10n_do_tss_report"]
	path = l10n_do_tss_report
	url = git@github.com:xmarts/l10n_do_tss_report.git
	branch = 13.0
[submodule "ks-custom-report"]
	path = ks-custom-report
	url = git@github.com:xmarts/ks-custom-report.git
[submodule "simplify_access_management"]
	path = simplify_access_management
	url = git@github.com:xmarts/simplify_access_management.git

[submodule "declaraciones_dgii"]
	path = declaraciones_dgii
	url = git@github.com:xmarts/declaraciones_dgii.git
	branch = 13.0

[submodule "l10n_do_rnc_search"]
	path = l10n_do_rnc_search
	url = git@github.com:xmarts/l10n_do_rnc_search.git
	branch = 13.0
